/* Drag Bar Design */

.maximized_drag_bar {
  height: 25px;
}

.normal_drag_bar {
  height: 31px;
}

#drag_bar {
  position: absolute;
  width: 100%;
  background: #363636;
}

/* Close Button Design */

#close_window_btn {
  width: 50px;
  background: rgba(129,129,129,0);
  transition: 0.15s;
  height: 100%;
  display: block;
}

#close_window_btn:hover {
  background: red;
}

/* Minimize and Maximize buttons */

.hide_icon {
  visibility: hidden;
}

#min_max_btn {
  width: 50px;
  background: rgba(129,129,129,0);
  transition: 0.15s;
  height: 100%;
  display: block;
}

#min_max_btn:hover {
  background: rgb(128,128,128);
}

/* Minimize button */

#minimize_button {
  width: 50px;
  background: rgba(129,129,129,0);
  transition: 0.15s;
  height: 100%;
  display: block;
}

#minimize_button:hover {
  background: rgb(128,128,128);
}

/* Bootstrap Customizations */

.special_btn-check:focus + .btn, .special_btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(255,255,255,0);
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: .5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #ececec;
  text-align: left;
  list-style: none;
  background-color: #1b1b1b;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.dropdown-item.active, .dropdown-item:active {
  color: #cecece;
  text-decoration: none;
  background-color: #1b1b1b;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #cecece;
  background-color: #212121;
  cursor: pointer;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #cecece;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

